body{
    background-color: #464646;
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;

}

.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: bold;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.18);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

   

   
    

}

.header{
    color:rgb(2, 101, 96);
    font-weight: bold;
    font-family: "Permanent Marker", cursive;
    padding-left: 70px;
    
}
.rollDice {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.rollDice:hover,
.rollDice:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.rollDice:active {
  background: var(--color);
  color: #fff;
}

.numberInput{
    margin-right:30px;
    text-align: center;
    width: 100px;


}
label{
    font-family: "Permanent Marker", cursive;
    margin-right: 10px;


}
label:hover{
    font-size: 30px;
    transform: 1s;


}
.diceResult{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.18);
    margin-top: 50px;


    

    

}


.diceImages {
    height: 200px;
    width:200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 8px;
    column-gap: 8px;

    justify-content:center;
    margin-top: 30px;
    padding-left: 70px;

    
   
    

   

}
.diceImages img{
 
    height: 50px;
    width: 50px;
    mix-blend-mode: multiply;
    background: rgba(255, 255, 255, 0.18);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
   


    

  

}

